* {
  box-sizing: border-box;
}

body {
  margin: 0;
	color: #000;
	background-color: #063;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 0px 0px 20px 0px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.footer {
	background: #B4C5D7;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	font-size: 9px;
}

img {
	width: 100%;
	height: auto;
}
